.cart-item {
  display: flex;
  align-items: center;
  gap: 25px;

  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  background: white;
}

.cart-item img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
}

.cart-item-info {
  flex: 1;
}

.cart-item-info h2 {
  margin: 0 0 15px;
  font-size: 24px;
}

.cart-item-info p {
  color: #2563eb;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 20px;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 15px;
}

.quantity button {
  width: 42px;
  height: 42px;

  border: none;
  border-radius: 6px;

  background-color: #2563eb;
  color: white;

  font-size: 22px;
  cursor: pointer;
}

.quantity button:hover {
  background-color: #1d4ed8;
}

.quantity span {
  min-width: 25px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}